# PostgreSQL Database URL (dari Railway)
# Format: postgresql://username:password@host:port/database
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@containers-us-west-2.railway.app:5432/railway

# Flask configuration
SECRET_KEY=snbt_a8_2026_secret
FLASK_ENV=production
FLASK_DEBUG=False

# Server port (Railway akan otomatis override ini)
PORT=5000
